---
master_ip: ${master_ip}
worker_ip: ${worker_ip}
master_private_ip: ${master_private_ip}
worker_private_ip: ${worker_private_ip}
k8s_api_endpoint: ${master_ip}
docker_registry_host: ${master_ip}:30500
